body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background-image:url("../assets/Aboutbg.png");
    font-family: "Caesar Dressing", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
  }

  .h1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    color: #7B4C19;
  }

.Discard-button {
    display: inline-block;
    width: 50px;
    height: 50px;
    background-image: url("../assets/db.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    text-decoration: none;
    cursor: pointer;
    transition: transform 0.2s ease;
    gap: 2px;
  }
  
  .Discard-button:hover {
    transform: scale(1.05);
  }