body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background-image: url("../assets/Coinbg.png");
    background-size: cover;
    background-position: center;
    font-family: "Caesar Dressing", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
    color: #C8A582;
  }

  .Discard-button {
    position: fixed;
    top: 16px;
    right: 16px;
    display: inline-block;
    width: 50px;
    height: 50px;
    background-image: url("../assets/db.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    text-decoration: none;
    cursor: pointer;
    transition: transform 0.2s ease;
  }
  
  .Discard-button:hover {
    transform: scale(1.05);
  }