body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background-image: url("../assets/Grassbg.png");
    background-size: cover;
    background-position: center;
    font-family: "Caesar Dressing", system-ui;
    font-weight: 400;
    font-style: normal;
  }

.Startcomponents {
    position: fixed;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 38px; /* ~1cm */
  }

.Coin-button {
    display: inline-block;
    width: 80px;
    height: 80px;
    background-image: url("../assets/coin.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    text-decoration: none;
    cursor: pointer;
    transition: transform 0.2s ease;
  }

  .Coin-button:hover {
    transform: scale(1.1);
  }

.Collect-button {
    display: inline-block;
    width: 80px;
    height: 80px;
    background-image: url("../assets/Collects.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    text-decoration: none;
    cursor: pointer;
    transition: transform 0.2s ease;
  }

  .Collect-button:hover {
    transform: scale(1.1);
  }

.Tools-button {
    display: inline-block;
    width: 80px;
    height: 80px;
    background-image: url("../assets/Tools.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    text-decoration: none;
    cursor: pointer;
    transition: transform 0.2s ease;
  }

  .Tools-button:hover {
    transform: scale(1.1);
  }